.ProjectCard {
  margin: 20px;
  width: 45%;
  height: fit-content;
}

.ProjectCard-title {
  color: #583a3a;
  margin: 10px 0px;
  font-size: larger;
  font-weight: lighter;
}

.ProjectCard-img > img {
  width: auto;
  height: 200px;
}

.ProjectCard-description {
  font-weight: lighter;
  font-size: 0.96rem;
}

.ProjectCard-img {
  text-align: center;
  border: 1px rgb(245, 245, 245) solid;
  border-radius: 5px;
}

.ProjectCard-link {
  color: rgb(38, 194, 255);
}

@media screen and (max-width: 900px) {
  .ProjectCard-img > img {
    height: 100px;
  }
}


