.ProjectCard {
  margin: 20px auto;
  width: 40%;
  height: fit-content;
}

.ProjectCard-title {
  color: #583a3a;
  margin: 10px 0px;
  font-size: larger;
  font-weight: lighter;
}

.ProjectCard-img > img {
  height: 200px;
}

.ProjectCard-description {
  font-weight: lighter;
  font-size: 0.96rem;
}

.ProjectCard-img {
  border: 1px rgb(245, 245, 245) solid;
  border-radius: 5px;
  width: fit-content;
}

.ProjectCard-link {
  color: rgb(38, 194, 255);
}


