.AboutHeader {
  display: flex;
  justify-content: space-around;
  font-weight: lighter;
}

.AboutHeader-profilepic {
  width: 20em;
  border-right: solid #dddddd 1px;
  padding-right: 2em;
}

.AboutHeader-profilepic-subtitle {
  text-align: center;
  color: rgb(150, 150, 150);
  font-size: 0.6em;
  margin-right: 2em;
}

.AboutHeader-background h1 {
  font-weight: lighter;
}

.AboutHeader-background {
  margin-left: 10%;
  font-size: 1em;
}

.AboutHeader-rithm {
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  .AboutHeader-background {
    font-size: 0.96em;
  }

  .AboutHeader-profilepic {
    width: 15em;
    border: none;
    padding: 0;
  }
  .AboutHeader-profilepic-cont {
    text-align: center;
  }

  .AboutHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: lighter;
  }
}