.TopNaviBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 10px;
  background-color: white;
}

.TopNaviBar a {
  text-decoration: none;
  color: black;
}

.TopNaviBar-left {
  margin-left: 10%;
}

.TopNaviBar a:hover {
  transition: ease 0.5s;
  color: lightslategray;
}

.TopNaviBar a:focus {
  color: lightblue;
}

.TopNaviBar-right {
  position: fixed;
  right: 10%;
}

.TopNaviBar-right a {
  margin-left: 15px;
}