.TopNaviBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3%;
  z-index: 2;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: lighter;
}

.TopNaviBar a {
  text-decoration: none;
  color: black;
}

.TopNaviBar-left {
  position: fixed;
  left: 15%;
}

.TopNaviBar a:hover {
  transition: ease 0.5s;
  color: lightslategray;
}

.TopNaviBar a:focus {
  color: rgb(175, 175, 175);
}

.TopNaviBar-right {
  position: fixed;
  right: 13%;
}

.TopNaviBar-right a {
  margin-left: 15px;
}


@media screen and (max-width: 470px) {
  .TopNaviBar {
    font-size: 0.64em;
  }
  .TopNaviBar-right {
    left: 40%;
  }
  .TopNaviBar-left {
    margin: 0;
    left: 18%;
  }
}

@media screen and (max-width: 414px) {
  .TopNaviBar {
    font-size: 1.1em;
    height: 3%;
  }
  .TopNaviBar-right {
    left: 26%;
  }
  .TopNaviBar-left {
    left: 4%;
    font-weight: 400;
  }
}

@media screen and (max-width: 375px) {
  .TopNaviBar {
    font-size: 1em;
    height: 3%;
  }
  .TopNaviBar-right {
    left: 24%;
  }
  .TopNaviBar-left {
    left: 2%;
    font-weight: 400;
  }
}

@media screen and (max-width: 345px) {
  .TopNaviBar {
    font-size: 0.63em;
  }
  .TopNaviBar-right {
    left: 25%;
  }
  .TopNaviBar-left {
    margin: 0%;
    left: 8%;
  }

}