.Hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Hero-greeting {
  font-size: xx-large;
  margin: 5px 0px;
  font-weight: lighter;
}

.Hero-self {
  font-size: 1.1em;
  font-weight: lighter;
}

.Hero-image {
  width: 28em;
}

@media screen and (max-width: 700px) {
  .Hero {
    flex-direction: column;
  }
  .Hero-image {
    width: 20em;
    margin-top: 20%;
  }
}