.Hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Hero-greeting {
  font-size: xx-large;
  margin: 5px 0px;
  width: 80px;
  font-weight: lighter;
}

.Hero-self {
  font-size: 1.4em;
  font-weight: lighter;
}

.Hero-image-container {
  position: relative;
}

.Hero-image {
  width: 28em;
}

.Hero-image-square {
  width: 100%;
  height: 100%;
  top: 9%;
  left: 10%;
  z-index: -1;
  position: absolute;
  border: rgb(187, 234, 255) 1px solid;
  box-shadow: 0 1px 2px rgba(211, 220, 223, 0.07), 
                0 2px 4px rgba(211, 220, 223, 0.07), 
                0 4px 8px rgba(211, 220, 223, 0.07), 
                0 8px 16px rgba(211, 220, 223, 0.07),
                0 16px 32px rgba(211, 220, 223, 0.07), 
                0 32px 64px rgba(211, 220, 223, 0.07);
}

.typewriter {
  overflow: hidden; 
  border-right: .15em solid rgb(187, 234, 255);
  white-space: nowrap;
  animation: 
    typing 1.2s steps(17, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0px }
  to { width: 80px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(187, 234, 255) }
}

@media screen and (max-width: 700px) {
  .Hero {
    flex-direction: column;
    padding-top: 5%;
  }
  .Hero-image {
    width: 20em;
    margin-top: 20%;
  }
  .Hero-self {
    font-size: 1em;
  }
}

@media screen and (max-width: 667px) {
  .Hero-image-square {
    width: 120%;
    height: 92%;
    top: 13%;
  }
}