.Hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Hero-greeting {
  font-size: xx-large;
  margin: 5px 0px;
  width: 80px;
  font-weight: lighter;
}

.Hero-self {
  font-size: 1.4em;
  font-weight: lighter;
}

.Hero-image {
  width: 28em;
}

.typewriter {
  overflow: hidden; 
  border-right: .15em solid rgb(187, 234, 255);
  white-space: nowrap;
  animation: 
    typing 1.2s steps(17, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0px }
  to { width: 80px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(187, 234, 255) }
}

@media screen and (max-width: 700px) {
  .Hero {
    flex-direction: column;
    padding-top: 5%;
  }
  .Hero-image {
    width: 20em;
    margin-top: 20%;
  }

  .Hero-self {
    font-size: 1em;
  }

}